/*TODO:
- Add a 1-pixel solid border to all cells
- Add 5 pixels of padding to the header cells
- Add 5 pixels of margin to all of the discussions, lectures, and assignments
*/

td, th {
	border-width: 1px;
	border-style: solid;
}

th {
	font-size: 150%;
	padding: 5px;
}

.discussion {
	background-color: limegreen;
	margin: 5px;
}

.lecture {
	background-color: royalblue;
	color: white;
	margin: 5px;
}

#a1 {
	background-color: saddlebrown;
	color: white;
	margin: 5px;
}